* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#weather-container {
    border : 2px solid black;
    border-radius: 6px;
    width: 32em;
    height: 33em;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #0259a0, #00008B);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#city-input {
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin-right: 4px;
    width: 80%;
}

#city-input-container {
    display: flex;
}

#get-weather-btn {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    background-color: white;
    color: blue;
    cursor: pointer;
    margin-left: 2em;
}

#city {
    font-size: 4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#temperature {
    font-size: 3em;
    margin-top: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
 
#type {
    font-size: 20px;
}